
html, body {
  height: 100%;
  width: 100%;
  font-family: Oakes, Helvetica, Arial, sans-serif;
  color: black;
  font-size: 14px;
}

input {
    background-color: #E8E8E8;
}

.contenedor-seccion {
    display: flex;
    flex-wrap: wrap;
}

.columna {
    flex: 1;
    padding: 2%;
}

.contenedor {
  font-family: 'Roboto', sans-serif;
  color: #E8E8E8;
  font-size: 14px;
  background-color: rgb(60, 64, 63, 0.5);
}

.cuadro-con-texto {
    margin-top: 7%;
    width: 80%;
    height: 25vw;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.5vw;
}

.uno{
    background-color: #85A693;
    color: white;
}

.dos{
    background-color: #1D5937;
    color: white;
}

.tres{
    background-color: #154028;
    color: white;
}

.d {
    margin-top: 2vw;
    margin-left: 25%;
    margin-right: 25%;
    color: black;
}

.d3 {
    margin-top: 5vw;
    margin-left: 5%;
    margin-right: 5%;
    color: gray;
}

h1, h2, h3, h4 {
    font-family: TypoldCondensed, Helvetica, Arial, sans-serif;
    color: #154028;
    letter-spacing: 8px;
    font-weight: 700;
}

#tx2 {
    font-family: TypoldCondensed, Helvetica, Arial, sans-serif;
    color: #837262;
    letter-spacing: 8px;
    font-weight: 1000;
    font-size: 21px;
}

#tx3 {
    font-family: TypoldCondensed, Helvetica, Arial, sans-serif;
    color: gray;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 15px;
}

h6 {
    font-family: Typold, Helvetica, Arial, sans-serif;
    color: gray;
    font-weight: 10;
}

a, a:hover, a:focus {
    color: #E8E8E8;
}

.hover2:hover {
    -webkit-filter: saturate(3);
    filter: saturate(3);
    -webkit-transition: all .4s ease-in-out; 
}

.opa {
    color: #A8A8A8;
}

.blo {
    width: 90%;
    height: 5%;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


.hovereffect a, .hovereffect p {
  color: #E8E8E8;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.contenedor{
    margin-top: 5vw;
    border-radius: 10px;
    width: 350px;
    height: 450px;
    color: #E8E8E8;
    opacity: 1;
}

.contenedor2{
    border-radius: 10px;
    width: 700px;
    height: 100%;
    color: #E8E8E8;
    opacity: 2;
}

.contenedor3{
    margin-top: 8vw;
    width: 700px;
    height: 70%;
    color: #E8E8E8;
    opacity: 1;
}

.form-control {
    width: 320px;
}

.btn-primary {
    background-color: #24A5BA; 
    border: white; 
    margin-top: 1vw; 
    width: 125px; 
    margin-left: 100px;
    font-size: 13px;
    color: white;
}

.btn-primary:hover {
    background-color: #176D7A; 
    border: white; 
    margin-top: 1.5vw; 
    font-size: 13px;
    color: white;
}

.btn:hover {
    background-color: #176D7A; 
    border: white; 
    margin-top: 1vw; 
    width: 125px; 
    font-size: 13px;
    color: white;
}

.btn-primary-2 {
    background-color: #24A5BA; 
    border: white;
    font-size: 15px;
    color: #E8E8E8;
}

.btn-primary-2:hover {
    background-color: #176D7A; 
    border: white;
    font-size: 15px;
    color: #E8E8E8;
}

.btn-2:hover {
    background-color: #176D7A; 
    border: white;
    font-size: 15px;
    color: #E8E8E8;
}

.registro {
    margin-top: 15vw;
    margin-left: 20vw;
    width: 50%;
    color: #E8E8E8; 
    font-family: 'Open Sans', sans-serif;
}

.btn-3:hover {
    background-color: #176D7A; 
    border: white; 
    color: white;
    width: 20vw;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary-3 {
    background-color: #24A5BA; 
    border: white;
    font-size: 15px;
    color: #E8E8E8;
    width: 20vw;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary-3:hover {
    background-color: #176D7A; 
    border: white;
    font-size: 15px;
    color: #E8E8E8;
    width: 20vw;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding-top: 60px;
    color: white;
}

#consultasxd {
    
    width: 30%;
    padding: 1rem;
    color: white;
    float: left;
}

#carrito {
    
    padding: 3rem;
    color: white;
}

.alad {
    align-items: right;
}

#tdetalle {
    
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    color: white;
}

.botonlink {
    color: rgb(229, 230, 230);
    font-size: 20px;
    padding: 20px;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background: rgb(23, 109, 102);
    background: -moz-linear-gradient(90deg, rgb(23, 109, 102) 30%, rgb(59, 142, 133) 71%);
    background: -webkit-linear-gradient(90deg, rgb(23, 109, 102) 30%, rgb(59, 142, 133) 71%);
    background: -o-linear-gradient(90deg, rgb(23, 109, 102) 30%, rgb(59, 142, 133) 71%);
    background: -ms-linear-gradient(90deg, rgb(23, 109, 102) 30%, rgb(59, 142, 133) 71%);
    background: linear-gradient(0deg, rgb(23, 109, 102) 30%, rgb(59, 142, 133) 71%);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow:    0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow:         0px 0px 0px rgba(0, 0, 0, 0);
}

.footer {
    background-color: #154028;
}

.footer h6{
    margin-left: 10%;
    margin-right: 10%;
    color: white;
}

.footer div{
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.social_link{
    margin-left: 5%;
    font-size: 60px;
}
.social_link:hover{
    text-decoration: none;
}

.social_icon:hover{
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
}

#logof{
    height: 12vw;
}

#f1 {
    margin-left: 20%;
}

.ind {
    margin-top: 5vw;
    font-size: 20px;
    color: gray;
}

.ind i{
    margin-right: 5%;
}

.mapa {
    margin-top: 5vw;
    height: 50vw;
}

.linkf{
    font-size: 17.5px;
    color: white;
}

.linkf:hover{
    color: rgb(255, 255, 255, 0.5);
}

.d2 {
    margin-top: 2vw;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

#tx {
    font-family: TypoldCondensed, Helvetica, Arial, sans-serif;
    color: gray;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 15px;
}

#blog {
    margin-left: 10%;
    margin-right: 10%;
}

#f2 {
    font-family: Typold, Helvetica, Arial, sans-serif;;
    margin-top: 2vw;
    border: 8px solid;
    border-collapse: collapse;
    padding: 5px;
    border-width: 8px;
    border-color: #837262;
    width: 30%;
    color: #f8f9f8;
    margin-bottom: 5vw;
    background-color: #2a1b18;
}

.required {
  color: #154028;
  font-weight: bold;
  margin-left: 5px;
}

#sp{
    margin-right: 55%;
}

#nombre2, #ema, #tel, #sitio, #as, #apP, #apM, #espe, #num, #usu, #cont, #cont2 {
    margin-top: 5px;
    width: 68%;
    height: 3vw;
    border-radius: 5px;
    border: 2px solid #2a1b18;
    padding: 5px;
    margin-bottom: 20px;
    background-color: white;
}

#nr{
    margin-right: 55%;
}

#men {
    margin-top: 5px;
    width: 68%;
    height: 100px;
    border-radius: 5px;
    border: 2px solid #2a1b18;
    padding: 5px;
    margin-bottom: 20px;
}

.boton {
    width: 150px;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 0;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
}

.boton:hover {
    width: 150px;
    height: 50px;
    background-color: #1D5937;
    border: 2px solid #154028;
    border-radius: 0;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;

}

.boton2 {
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    font-size: 15px;
}

.boton2 a{
    text-decoration: none;
}

.boton2:hover {
    width: 150px;
    height: 50px;
    background-color: white;
    border: 2px solid white;
    border-radius: 0;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-weight: bold;
    color: #154028;
    display: inline-block;
}

.boton3 {
    display: inline-block;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #2A1B18;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    width: 100%;
}

.boton3:hover {
    display: inline-block;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(42, 27, 24, 0.5);
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    width: 100%;
}

#aste {
    color: #d9bfa0;
}

#in {
    margin-right: 30%;
}

.fc{
    margin-left: 25%; 
    margin-right: 25%; 
    text-align: justify;
}

#pp{
    height: 50%;
}

#tp{
    margin-top: 1vw;
    text-align: justify;
    font-family: TypoldCondensed, Helvetica, Arial, sans-serif;
    color: #837262;
    letter-spacing: 8px;
    font-weight: 700;
    line-height: 2;    
}

.contenedor-agenda {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
}

.evento {
    margin-bottom: 20px;
    padding: 10px;
    border: 3px solid #1D5937;
    border-radius: 5px;
}

.fecha {
    font-size: 18px;
    font-weight: bold;
    color: #1D5937;
}

.descripcion {
    margin-top: 5px;
    color: #666;
}

.columna-agenda {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h7{
    font-family: TypoldCondensed, Helvetica, Arial, sans-serif;
    color: white;
    letter-spacing: 15px;
    font-weight: 800;
}

.btnL {
    width: 250px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #1D5937;
    border-radius: 0;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-weight: bold;
    color: #1D5937;
    display: inline-block;
    font-size: 15px;
}
